<a href="https://colab.research.google.com/github/AnnaMatochkina/final-certification/blob/main/%D0%B8%D1%82%D0%BE%D0%B3%D0%BE%D0%B2%D0%B0%D1%8F_%D0%B0%D1%82%D1%82%D0%B5%D1%81%D1%82%D0%B0%D1%86%D0%B8%D1%8F_%D1%84%D0%B0%D0%B9%D0%BB_1_%D1%80%D0%B0%D0%B7%D0%BC%D0%B5%D1%82%D0%BA%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%D0%BD%D0%B0_%D0%B4%D0%B2%D0%B0_%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='#43a' size='6'> **Импорт и установка библиотек**

In [ ]:
import numpy as np
import pandas as pd
import gdown

# <font color='#43a' size='6'> **Загрузка данных**

In [ ]:
#https://drive.google.com/file/d/14lxqqbBRbLTJIZ6mTHjNd-tWtnGcqbfN/view?usp=sharing
url = "https://drive.google.com/uc?id=14lxqqbBRbLTJIZ6mTHjNd-tWtnGcqbfN"
gdown.download(url, 'df_report_2018.csv', quiet=True)
df = pd.read_csv('df_report_2018.csv')
df

,ID,report type,1110,1120,1130,1140,1150,1160,1170,1180,...,2300,2410,2421,2430,2450,2460,2400,2510,2520,2500
0,2543105585,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2531012583,1.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,17.0,3.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0
2,2502054290,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6866.0,4832.0,0.0,0.0,0.0,0.0,2034.0,0.0,0.0,0.0
3,2502054275,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2502054282,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,784.0,131.0,0.0,0.0,0.0,0.0,653.0,0.0,0.0,653.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1929439,1328909744,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-33.0,35.0,0.0,0.0,0.0,0.0,-68.0,0.0,0.0,0.0
1929440,1322122012,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35.0,0.0,0.0,0.0,0.0,0.0,35.0,0.0,0.0,35.0
1929441,1324134609,2.0,2345.0,0.0,0.0,0.0,561854.0,0.0,0.0,77.0,...,44075.0,10394.0,-287.0,1240.0,53.0,0.0,34974.0,0.0,-1750.0,33224.0
1929442,1327006130,2.0,0.0,0.0,0.0,0.0,12624.0,0.0,15564.0,0.0,...,1396.0,0.0,0.0,0.0,0.0,0.0,1396.0,0.0,0.0,1396.0
1929443,5040126030,2.0,0.0,0.0,0.0,0.0,14739.0,0.0,0.0,213.0,...,91112.0,18447.0,172.0,-828.0,183.0,-172.0,71848.0,0.0,0.0,71848.0

<font color='#11a' size='4'> Описание данных

В данных представлена информация бухгалтерского баланса и отчета о финансовых результатах организаций с кодом ОКФС = 16 - частная собственность, за 2018 год. Единица измерения тыс. руб.

*   ID - ИНН организации
*   report type - тип отчета
*   1110 - 2500 строки отчетности

Столбец 1100 "Внеоборотные активы" является суммой столбцов 1110, 1120, 1130, 1140, 1150, 1160, 1170, 1180 и 1190.

Столбец 1200 " Оборотные активы" является суммой столбцов 1210, 1220, 1230, 1240, 1250, 1260.

Столбец 1600 "Актив" является суммой столбцов 1100 и 1200.

Столбец 1300 " Капитал и резервы" является суммой столбцов 1310, 1320, 1340, 1350, 1360, 1370.

Столбец 1400 "Долгосрочные обязательства" является суммой столбцов 1410, 1420, 1430, 1440, 1450.

Столбец 1500 "Краткосрочные обязательства" является суммой столбцов 1510, 1520, 1530, 1540, 1550.

Столбец 1700 " Пассив" является суммой столбцов 1300, 1400 и 1500.

Столбец 2100 "Валовая прбыль (убыток)" является разностью столбцов  2110 и 2120.

Кроме того, вычисляемые столбцы: 2300 "Прибыль (убыток) до налогообложения", 2400 "Чистая прибыль (убыток)", 2500 "Совокупный финансовый результат".

# <font color='#11a' size='6'> **Предобработка данных**

In [ ]:
# Проверяем на ошибки заполнения суммирующих столбцов
cols = ['1110', '1120', '1130', '1140', '1150', '1160', '1170', '1180', '1190',
        '1210', '1220', '1230', '1240', '1250', '1260']
filtered_df = df[((df[cols].sum(axis=1) - df['1600']) > 2) | ((df[cols].sum(axis=1) - df['1600']) <-2)]

In [ ]:
filtered_df

,ID,report type,1110,1120,1130,1140,1150,1160,1170,1180,...,2300,2410,2421,2430,2450,2460,2400,2510,2520,2500
1091,2723185639,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,304.0,227.0,0.0,0.0,0.0,0.0,77.0,0.0,0.0,0.0
2174,2302008017,2.0,0.0,0.0,0.0,0.0,34954.0,0.0,0.0,0.0,...,28714.0,1484.0,0.0,0.0,0.0,-1901.0,25329.0,0.0,0.0,25329.0
4079,2336014442,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,82.0,113.0,0.0,0.0,113.0
4133,2352000574,2.0,0.0,0.0,0.0,0.0,2784.0,0.0,0.0,0.0,...,41.0,14.0,0.0,0.0,0.0,0.0,27.0,0.0,0.0,0.0
4136,2356004065,1.0,0.0,0.0,0.0,0.0,2174.0,0.0,0.0,0.0,...,1142.0,0.0,0.0,0.0,0.0,0.0,1142.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925144,1016042336,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1927421,726010400,1.0,0.0,0.0,0.0,0.0,122.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1927851,1018004304,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,193.0,0.0,0.0,0.0,0.0,0.0,193.0,0.0,0.0,193.0
1928001,2130014671,2.0,0.0,0.0,0.0,0.0,4840.0,0.0,0.0,0.0,...,5154.0,945.0,0.0,0.0,0.0,0.0,4209.0,0.0,0.0,4209.0
1928723,1658083583,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5074.0,0.0,0.0,0.0,0.0,-843.0,4231.0,0.0,0.0,4231.0

Warning: Total number of columns (60) exceeds max_columns (20) limiting to first (20) columns.
Warning: Total number of columns (60) exceeds max_columns (20) limiting to first (20) columns.

Не для всех организаций суммирующие столбцы заполнены корректно. Также не все значения в скобках передались с минусом, заменились нулями. В связи с округлением, при расчетах произведем удаление строк с разницей между рассчитанным значением и заполненным больше 2  и меньше - 2.

Актив

In [ ]:
df['1600_calc'] = (df['1110'] + df['1120'] + df['1130'] + df['1140'] + df['1150'] + df['1160'] + df['1170'] + df['1180'] + df['1190'] + df['1210'] + df['1220'] + df['1230'] + df['1240'] + df['1250'] + df['1260'])

In [ ]:
# Удаление строк, где разница между '1600_calc' и '1600' больше 2
indexes_to_drop = df[(df['1600_calc'] - df['1600']) > 2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(1928955, 61)

In [ ]:
# Удаление строк, где разница между '1600_calc' и '1600' меньше - 2
indexes_to_drop = df[(df['1600_calc'] - df['1600']) < -2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(1928123, 61)

In [ ]:
df['1100_calc'] = (df['1110'] + df['1120'] + df['1130'] + df['1140'] + df['1150'] + df['1160'] + df['1170'] + df['1180'] + df['1190'])

In [ ]:
# Удаление строк, где разница между '1100_calc' и '1100' больше 2
indexes_to_drop = df[(df['1100_calc'] - df['1100']) > 2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(1927126, 62)

In [ ]:
# Удаление строк, где разница между '1100_calc' и '1100' меньше - 2
indexes_to_drop = df[(df['1100_calc'] - df['1100']) < -2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(1927112, 62)

In [ ]:
 df['1200_calc'] = (df['1210'] + df['1220'] + df['1230'] + df['1240'] + df['1250'] + df['1260'])

In [ ]:
# Удаление строк, где разница между '1200_calc' и '1200' больше 2
indexes_to_drop = df[(df['1200_calc'] - df['1200']) > 2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(1924958, 63)

In [ ]:
# Удаление строк, где разница между '1200_calc' и '1200' меньше - 2
indexes_to_drop = df[(df['1200_calc'] - df['1200']) <-2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(1924907, 63)

Пассив

In [ ]:
df['1700_calc'] = (df['1310'] + df['1320'] + df['1340'] + df['1350'] + df['1360'] + df['1370'] + df['1410'] + df['1420'] + df['1430'] + df['1450'] + df['1510'] + df['1520'] + df['1530'] + df['1540'] + df['1550'])

In [ ]:
# Удаление строк, где разница между '1700_calc' и '1700' больше 2
indexes_to_drop = df[(df['1700_calc'] - df['1700']) > 2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(1750564, 64)

In [ ]:
# Удаление строк, где разница между '1700_calc' и '1700' меньше - 2
indexes_to_drop = df[(df['1700_calc'] - df['1700']) < -2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(966699, 64)

In [ ]:
df['1300_calc'] = (df['1310'] + df['1320'] + df['1340'] + df['1350'] + df['1360'] + df['1370'])

In [ ]:
# Удаление строк, где разница между '1300_calc' и '1300' больше 2
indexes_to_drop = df[(df['1300_calc'] - df['1300']) > 2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(966540, 65)

In [ ]:
# Удаление строк, где разница между '1300_calc' и '1300' меньше - 2
indexes_to_drop = df[(df['1300_calc'] - df['1300']) <-2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(966417, 65)

In [ ]:
df['1400_calc'] = (df['1410'] + df['1420'] + df['1430'] + df['1450'])

In [ ]:
# Удаление строк, где разница между '1400_calc' и '1400' больше 2
indexes_to_drop = df[(df['1400_calc'] - df['1400']) > 2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(966399, 66)

In [ ]:
# Удаление строк, где разница между '1400_calc' и '1400' меньше - 2
indexes_to_drop = df[(df['1400_calc'] - df['1400']) < -2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(966382, 66)

In [ ]:
df['1500_calc'] = (df['1510'] + df['1520'] + df['1530'] + df['1540'] + df['1550'])

In [ ]:
# Удаление строк, где разница между '1500_calc' и '1500' больше 2
indexes_to_drop = df[(df['1500_calc'] - df['1500']) > 2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(966307, 67)

In [ ]:
# Удаление строк, где разница между '1500_calc' и '1500' меньше - 2
indexes_to_drop = df[(df['1500_calc'] - df['1500']) < -2].index
df.drop(indexes_to_drop, inplace=True)

In [ ]:
df.shape

(966253, 67)

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df

,ID,report type,1110,1120,1130,1140,1150,1160,1170,1180,...,2510,2520,2500,1600_calc,1100_calc,1200_calc,1700_calc,1300_calc,1400_calc,1500_calc
0,2543105585,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,10.0,10.0,10.0,0.0,0.0
1,2502054275,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,22.0,0.0,22.0,22.0,22.0,0.0,0.0
2,2502054282,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,653.0,106623.0,0.0,106623.0,106623.0,1093.0,0.0,105530.0
3,2502054250,2.0,0.0,0.0,0.0,0.0,629489.0,0.0,0.0,3814.0,...,0.0,0.0,9545.0,958805.0,633303.0,325502.0,958806.0,-1916.0,510776.0,449946.0
4,2521014373,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,20.0,0.0,20.0,20.0,20.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966248,1328909712,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1001.0,0.0,1001.0,1001.0,10.0,322.0,669.0
966249,1322122012,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,35.0,1598.0,0.0,1598.0,1598.0,18.0,0.0,1580.0
966250,1324134609,2.0,2345.0,0.0,0.0,0.0,561854.0,0.0,0.0,77.0,...,0.0,-1750.0,33224.0,885114.0,600354.0,284760.0,885114.0,507310.0,286243.0,91561.0
966251,1327006130,2.0,0.0,0.0,0.0,0.0,12624.0,0.0,15564.0,0.0,...,0.0,0.0,1396.0,34805.0,28188.0,6617.0,34805.0,33799.0,0.0,1006.0
966252,5040126030,2.0,0.0,0.0,0.0,0.0,14739.0,0.0,0.0,213.0,...,0.0,0.0,71848.0,434163.0,14952.0,419211.0,434164.0,80780.0,166566.0,186818.0

In [ ]:
df.drop('1600_calc', axis=1, inplace=True)
df.drop('1100_calc', axis=1, inplace=True)
df.drop('1200_calc', axis=1, inplace=True)
df.drop('1700_calc', axis=1, inplace=True)
df.drop('1300_calc', axis=1, inplace=True)
df.drop('1400_calc', axis=1, inplace=True)
df.drop('1500_calc', axis=1, inplace=True)

In [ ]:
df_report = df

Для расчета коэфициентов по моделям столбцы: 1200, 1300, 1500, 1600, 1700, 2110, 2120 не должны равняться нулю. Сумма столбцов 1100, 1200, а также сумма столбцов 1510, 1520, 1550 не должны равняться нулю. К тому же, отрицательные значения валюты баланса (1600 и 1700) говорят о финансовой неустойчивости организации, обозначим их 'unstable'.

In [ ]:
df_report['result'] = np.where(df_report['1200'] == 0, 'unstable', 'not identified')
df_report['result'] = np.where((df_report['1100'] + df_report['1200']) == 0, 'unstable', df_report['result'])
df_report['result'] = np.where(df_report['1300'] == 0, 'unstable', df_report['result'])
df_report['result'] = np.where(df_report['1500'] == 0, 'unstable', df_report['result'])
df_report['result'] = np.where((df_report['1510'] + df_report['1520'] + df_report['1550']) == 0, 'unstable', df_report['result'])
df_report['result'] = np.where(df_report['1600'] <= 0, 'unstable', df_report['result'])
df_report['result'] = np.where(df_report['1700'] <= 0, 'unstable', df_report['result'])
df_report['result'] = np.where(df_report['2110'] == 0, 'unstable', df_report['result'])
df_report['result'] = np.where(df_report['2120'] == 0, 'unstable', df_report['result'])
df_report

,ID,report type,1110,1120,1130,1140,1150,1160,1170,1180,...,2410,2421,2430,2450,2460,2400,2510,2520,2500,result
0,2543105585,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable
1,2502054275,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable
2,2502054282,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,131.0,0.0,0.0,0.0,0.0,653.0,0.0,0.0,653.0,unstable
3,2502054250,2.0,0.0,0.0,0.0,0.0,629489.0,0.0,0.0,3814.0,...,1764.0,472.0,-36.0,3.0,0.0,9545.0,0.0,0.0,9545.0,unstable
4,2521014373,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,10.0,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966248,1328909712,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable
966249,1322122012,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,35.0,0.0,0.0,35.0,unstable
966250,1324134609,2.0,2345.0,0.0,0.0,0.0,561854.0,0.0,0.0,77.0,...,10394.0,-287.0,1240.0,53.0,0.0,34974.0,0.0,-1750.0,33224.0,not identified
966251,1327006130,2.0,0.0,0.0,0.0,0.0,12624.0,0.0,15564.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1396.0,0.0,0.0,1396.0,unstable
966252,5040126030,2.0,0.0,0.0,0.0,0.0,14739.0,0.0,0.0,213.0,...,18447.0,172.0,-828.0,183.0,-172.0,71848.0,0.0,0.0,71848.0,not identified

In [ ]:
df_report['result'].value_counts()

result
not identified    529903
unstable          436350
Name: count, dtype: int64

Данные с пометкой 'not identified' подлежат дальнейшему распределению в классы (unstable / stable).

In [ ]:
df_report_not_identified = df_report[df_report['result'] == 'not identified']

---
**Модель Шеремета А.Д., Сайфулина Р.С., Негашева Е.В., Кадыкова Г.Г.**

1.  Коэффициент обеспеченности собственными средствами
2.	Коэффициент текущей ликвидности
3.	Коэффициент интенсивности оборота авансируемого капитала
4.	Коэффициент менеджмента
5.	Рентабельность собственного капитала

$$
R = 2K_1 + 0.1K_2 + 0.08K_3 + 0.45K_4 + K_5
$$

Если значение показателя R < 1, то вероятность банкротства организации высокая, если R > 1, то вероятность банкротства – низкая.

In [ ]:
df_ShSNK = pd.DataFrame({
    'ID': df_report_not_identified['ID'],
    'own_funds_ratio': (df_report_not_identified['1300'] - df_report_not_identified['1100']) / df_report_not_identified['1200'],
    'cur_ratio': df_report_not_identified['1200'] / (df_report_not_identified['1510'] + df_report_not_identified['1520'] + df_report_not_identified['1550']),
    'turnover_int_advanced_cap_ratio': df_report_not_identified['2110'] / (df_report_not_identified['1100'] + df_report_not_identified['1200']),
    'rate_of_return': df_report_not_identified['2400'] / df_report_not_identified['2110'],
    'ROE_ratio': df_report_not_identified['2400'] / df_report_not_identified['1300'],
})

In [ ]:
df_ShSNK['R'] = 2 * df_ShSNK['own_funds_ratio'] + 0.1 * df_ShSNK['cur_ratio'] + 0.08 * df_ShSNK['turnover_int_advanced_cap_ratio'] + 0.45 * df_ShSNK['rate_of_return'] + df_ShSNK['ROE_ratio']

In [ ]:
df_ShSNK['total_ShSNK'] = np.where(df_ShSNK['R'] <= 1, 'unstable', 'not identified')
df_ShSNK['total_ShSNK'] = np.where(df_ShSNK['R'] > 1, 'stable', df_ShSNK['total_ShSNK'])

In [ ]:
df_ShSNK['total_ShSNK'].value_counts()

total_ShSNK
stable      317096
unstable    212807
Name: count, dtype: int64

In [ ]:
df_ShSNK_total = df_ShSNK[['ID', 'total_ShSNK']]

Добавляем к данным результат расчета по первой модели

In [ ]:
df_report_first_method = pd.merge(df_report, df_ShSNK_total, how = 'left', on = 'ID')
df_report_first_method

,ID,report type,1110,1120,1130,1140,1150,1160,1170,1180,...,2421,2430,2450,2460,2400,2510,2520,2500,result,total_ShSNK
0,2543105585,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable,NaN
1,2502054275,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable,NaN
2,2502054282,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,653.0,0.0,0.0,653.0,unstable,NaN
3,2502054250,2.0,0.0,0.0,0.0,0.0,629489.0,0.0,0.0,3814.0,...,472.0,-36.0,3.0,0.0,9545.0,0.0,0.0,9545.0,unstable,NaN
4,2521014373,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,10.0,unstable,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966248,1328909712,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable,NaN
966249,1322122012,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.0,0.0,0.0,35.0,unstable,NaN
966250,1324134609,2.0,2345.0,0.0,0.0,0.0,561854.0,0.0,0.0,77.0,...,-287.0,1240.0,53.0,0.0,34974.0,0.0,-1750.0,33224.0,not identified,unstable
966251,1327006130,2.0,0.0,0.0,0.0,0.0,12624.0,0.0,15564.0,0.0,...,0.0,0.0,0.0,0.0,1396.0,0.0,0.0,1396.0,unstable,NaN
966252,5040126030,2.0,0.0,0.0,0.0,0.0,14739.0,0.0,0.0,213.0,...,172.0,-828.0,183.0,-172.0,71848.0,0.0,0.0,71848.0,not identified,stable

---
Еще одной методикой на основе получения интегральной оценки является четырехфакторная **модель Постюшкова А.В.**

$$
R = 0.125*K_1+2.5*K_2+0.4*K_3+1.25*K_4
$$

1.	Коэффициент текущей ликвидности
2.	Коэффициент обеспеченности собственными средствами
3.	Коэффициент оборачиваемости собственного капитала
4.	Рентабельность собственного капитала

Оценку риска банкротства следует проводить по следующей схеме: если R  < 0,99, то вероятность банкротства высокая, если R > 1, то вероятность банкротства низкая.

In [ ]:
df_Postushkov = pd.DataFrame({
    'ID': df_report_not_identified['ID'],
    'cur_ratio': df_report_not_identified['1200'] / (df_report_not_identified['1510'] + df_report_not_identified['1520'] + df_report_not_identified['1550']),
    'own_funds_ratio': (df_report_not_identified['1300'] - df_report_not_identified['1100']) / df_report_not_identified['1200'],
    'equity_turnover_ratio': df_report_not_identified['2110'] / df_report_not_identified['1300'],
    'ROE_ratio': df_report_not_identified['2400'] / df_report_not_identified['1300']
})

In [ ]:
df_Postushkov['R'] = 0.125 * df_Postushkov['cur_ratio'] + 2.5 * df_Postushkov['own_funds_ratio'] + 0.4 * df_Postushkov['equity_turnover_ratio'] + 1.25 * df_Postushkov['ROE_ratio']

In [ ]:
df_Postushkov['total_postushkov'] = np.where(df_Postushkov['R'] <= 1, 'unstable', 'not identified')
df_Postushkov['total_postushkov'] = np.where(df_Postushkov['R'] > 1, 'stable', df_Postushkov['total_postushkov'])

In [ ]:
df_Postushkov['total_postushkov'].value_counts()

total_postushkov
stable      427362
unstable    102541
Name: count, dtype: int64

In [ ]:
df_Postushkov_total = df_Postushkov[['ID', 'total_postushkov']]

Добавляем к данным результат расчета по второй модели

In [ ]:
df_report_two_methods = pd.merge(df_report_first_method, df_Postushkov_total, how = 'left', on = 'ID')
df_report_two_methods

,ID,report type,1110,1120,1130,1140,1150,1160,1170,1180,...,2430,2450,2460,2400,2510,2520,2500,result,total_ShSNK,total_postushkov
0,2543105585,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable,NaN,NaN
1,2502054275,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable,NaN,NaN
2,2502054282,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,653.0,0.0,0.0,653.0,unstable,NaN,NaN
3,2502054250,2.0,0.0,0.0,0.0,0.0,629489.0,0.0,0.0,3814.0,...,-36.0,3.0,0.0,9545.0,0.0,0.0,9545.0,unstable,NaN,NaN
4,2521014373,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,10.0,unstable,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966248,1328909712,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable,NaN,NaN
966249,1322122012,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,35.0,0.0,0.0,35.0,unstable,NaN,NaN
966250,1324134609,2.0,2345.0,0.0,0.0,0.0,561854.0,0.0,0.0,77.0,...,1240.0,53.0,0.0,34974.0,0.0,-1750.0,33224.0,not identified,unstable,unstable
966251,1327006130,2.0,0.0,0.0,0.0,0.0,12624.0,0.0,15564.0,0.0,...,0.0,0.0,0.0,1396.0,0.0,0.0,1396.0,unstable,NaN,NaN
966252,5040126030,2.0,0.0,0.0,0.0,0.0,14739.0,0.0,0.0,213.0,...,-828.0,183.0,-172.0,71848.0,0.0,0.0,71848.0,not identified,stable,stable

---
**R-модель, разработанная в Иркутской государственной экономической академии**, также используется для оценки вероятности банкротства.

$$
R = 8.38*K_1+K_2+0.054K_3+0.63K_4
$$

1. Коэффициент чистого оборотного капитала
2. Рентабельность собственного капитала
3. Рентабельность активов
4. Рентабельность затрат

R от 0 до 0,18 - высокая вероятность банкротства, R от 0,18 до 0,32 - средняя.
R от 0,32 до 0,42 - низкая вероятность банкротства, больше 0,42 минимальная.

In [ ]:
df_Irkutsk = pd.DataFrame({
    'ID': df_report_not_identified['ID'],
    'working_capital _ratio': (df_report_not_identified['1200'] - df_report_not_identified['1500']) / df_report_not_identified['1600'],
    'ROE_ratio': df_report_not_identified['2400'] / df_report_not_identified['1300'],
    'ROA_ratio': df_report_not_identified['2400'] / df_report_not_identified['1600'],
    'cost_margin_ratio': df_report_not_identified['2400'] / df_report_not_identified['2120']
})

In [ ]:
df_Irkutsk['R'] = 8.38 * df_Irkutsk['working_capital _ratio'] + df_Irkutsk['ROE_ratio'] + 0.054 * df_Irkutsk['ROA_ratio'] + 0.63 * df_Irkutsk['cost_margin_ratio']

In [ ]:
df_Irkutsk['total_irkutsk'] = np.where(df_Irkutsk['R'] <= 0.32, 'unstable', 'stable')

In [ ]:
df_Irkutsk['total_irkutsk'].value_counts()

total_irkutsk
stable      411205
unstable    118698
Name: count, dtype: int64

In [ ]:
df_Irkutsk_total = df_Irkutsk[['ID', 'total_irkutsk']]

Добавляем к данным результат расчета по третьей модели

In [ ]:
df_report_three_methods = pd.merge(df_report_two_methods, df_Irkutsk_total, how = 'left', on = 'ID')

---
**Методика рейтинговой оценки** финансового положения средних и крупных промышленных организаций, **предложенная Илышевой Н.Н. и Крыловым С.И.** подразумевая расчет следующих коэфициентов:
1. Доля оборотных активов в имуществе
2. Доля денежных средств и краткосрочных финансовых вложений в оборотных активах
3. Коэффициент текущей ликвидности
4. Коэффициент быстрой ликвидности
5. Коэффициент абсолютной ликвидности
6. Коэффициент финансовой независимости
7. Коэффициент структуры заемного капитала
8. Коэффициент устойчивости экономического роста
9. Рентабельность инвестированного капитала
10. Коэффициент оборачиваемости инвестированного капитала
11. Коэффициент оборачиваемости оборотных активов
12. Норма прибыли

In [ ]:
df_IlKr = pd.DataFrame({
    'ID': df_report_not_identified['ID'],
    'CATA_ratio': df_report_not_identified['1200'] / df_report_not_identified['1600'],
    'WCM_ratio': (df_report_not_identified['1240'] + df_report_not_identified['1250']) / df_report_not_identified['1200'],
    'Cur_ratio': df_report_not_identified['1200'] / (df_report_not_identified['1510'] + df_report_not_identified['1520'] + df_report_not_identified['1550']),
    'Quick_ratio': (df_report_not_identified['1230'] + df_report_not_identified['1240'] + df_report_not_identified['1250']) / (df_report_not_identified['1510'] + df_report_not_identified['1520'] + df_report_not_identified['1550']),
    'Cash_ratio': df_report_not_identified['1250'] / (df_report_not_identified['1510'] + df_report_not_identified['1520'] + df_report_not_identified['1550']),
    'Equity_ratio': (df_report_not_identified['1300'] + df_report_not_identified['1530']) / df_report_not_identified['1700'],
    'DtoE_ratio': df_report_not_identified['1400'] / (df_report_not_identified['1400'] + df_report_not_identified['1500']),
    'ROE_ratio': df_report_not_identified['2400'] / df_report_not_identified['1300'],
    'ROIC_ratio': df_report_not_identified['2400'] / (df_report_not_identified['1300'] + df_report_not_identified['1400']),
    'turnover_ratio_invested_capital': df_report_not_identified['2110'] / (df_report_not_identified['1300'] + df_report_not_identified['1400']),
    'turnover_ratio_current_assets': df_report_not_identified['2110'] / df_report_not_identified['1200'],
    'profit_margins_ratio': df_report_not_identified['2400'] / df_report_not_identified['2110']
})
df_IlKr

,ID,CATA_ratio,WCM_ratio,Cur_ratio,Quick_ratio,Cash_ratio,Equity_ratio,DtoE_ratio,ROE_ratio,ROIC_ratio,turnover_ratio_invested_capital,turnover_ratio_current_assets,profit_margins_ratio
5,2301091076,0.999472,0.148363,9.813472,6.393782,1.455959,0.898153,0.000000,1.129260,1.129260,3.143361,2.824710,0.359252
6,2308227978,1.000000,0.000000,0.200000,0.200000,0.000000,-4.000000,0.000000,2.785714,2.785714,-3.714286,14.857143,-0.750000
9,2801217104,0.939225,0.008021,1.627250,1.077759,0.013052,0.422833,0.000000,1.132092,1.132092,5.976496,2.690583,0.189424
10,2801217143,1.000000,0.065595,1.293985,0.902457,0.084879,0.227193,0.000000,0.698462,0.698462,34.590769,7.858791,0.020192
11,2813010016,1.000000,0.034739,151.125000,5.250000,5.250000,0.993383,0.000000,0.167361,0.167361,4.645296,4.614557,0.036028
...,...,...,...,...,...,...,...,...,...,...,...,...,...
966242,1313902633,0.177418,0.067958,1.536609,0.217732,0.104425,0.880955,0.001242,-0.214869,-0.214833,0.393585,1.954643,-0.545837
966244,1326205534,1.000000,0.003087,1.740299,1.601194,0.005373,0.425386,0.000000,0.000000,0.000000,3.184677,1.354717,0.000000
966247,1326205679,1.000000,0.015936,4.735849,1.617925,0.075472,0.788845,0.000000,-0.407828,-0.407828,0.790404,0.623506,-0.515974
966250,1324134609,0.321721,0.088854,3.201421,2.043362,0.059574,0.573158,0.757649,0.068940,0.044073,1.154057,3.216059,0.038189
966252,5040126030,0.965561,0.000859,2.253452,1.442829,0.001935,0.186059,0.471346,0.889428,0.290476,6.381813,3.765436,0.045516

Далее каждому коэффициенту присваивается свой вес 1, 2 или 3

In [ ]:
df_IlKr['total_CATA_ratio'] = np.where(df_IlKr['CATA_ratio'] < 0.2, 1, 2)
df_IlKr['total_CATA_ratio'] = np.where(df_IlKr['CATA_ratio'] > 0.35, 3, df_IlKr['total_CATA_ratio'])

In [ ]:
df_IlKr['total_WCM_ratio'] = np.where(df_IlKr['WCM_ratio'] < 0.12, 1, 2)
df_IlKr['total_WCM_ratio'] = np.where(df_IlKr['WCM_ratio'] > 0.2, 3, df_IlKr['total_WCM_ratio'])

In [ ]:
df_IlKr['total_Cur_ratio'] = np.where(df_IlKr['Cur_ratio'] < 2, 1, 2)
df_IlKr['total_Cur_ratio'] = np.where(df_IlKr['Cur_ratio'] > 3, 3, df_IlKr['total_Cur_ratio'])

In [ ]:
df_IlKr['total_Quick_ratio'] = np.where(df_IlKr['Quick_ratio'] < 0.7, 1, 2)
df_IlKr['total_Quick_ratio'] = np.where(df_IlKr['Quick_ratio'] > 0.8, 3, df_IlKr['total_Quick_ratio'])

In [ ]:
df_IlKr['total_Cash_ratio'] = np.where(df_IlKr['Cash_ratio'] < 0.2, 1, 2)
df_IlKr['total_Cash_ratio'] = np.where(df_IlKr['Cash_ratio'] > 0.3, 3, df_IlKr['total_Cash_ratio'])

In [ ]:
df_IlKr['total_Equity_ratio'] = np.where(df_IlKr['Equity_ratio'] < 0.5, 1, 2)
df_IlKr['total_Equity_ratio'] = np.where(df_IlKr['Equity_ratio'] > 0.6, 3, df_IlKr['total_Equity_ratio'])

In [ ]:
df_IlKr['total_DtoE_ratio'] = np.where(df_IlKr['DtoE_ratio'] < 0.5, 1, 2)
df_IlKr['total_DtoE_ratio'] = np.where(df_IlKr['DtoE_ratio'] > 0.7, 3, df_IlKr['total_DtoE_ratio'])

In [ ]:
df_IlKr['total_ROE_ratio'] = np.where(df_IlKr['ROE_ratio'] < 0.11, 1, 2)
df_IlKr['total_ROE_ratio'] = np.where(df_IlKr['ROE_ratio'] > 0.18, 3, df_IlKr['total_ROE_ratio'])

In [ ]:
df_IlKr['total_ROIC_ratio'] = np.where(df_IlKr['ROIC_ratio'] < 0.10, 1, 2)
df_IlKr['total_ROIC_ratio'] = np.where(df_IlKr['ROIC_ratio'] > 0.13, 3, df_IlKr['total_ROIC_ratio'])

In [ ]:
df_IlKr['total_turn_ratio_inv_cap'] = np.where(df_IlKr['turnover_ratio_invested_capital'] < 1, 1, 2)
df_IlKr['total_turn_ratio_inv_cap'] = np.where(df_IlKr['turnover_ratio_invested_capital'] > 3, 3, df_IlKr['total_turn_ratio_inv_cap'])

In [ ]:
df_IlKr['total_prof_marg_ratio'] = np.where(df_IlKr['profit_margins_ratio'] < 0.10, 1, 2)
df_IlKr['total_prof_marg_ratio'] = np.where(df_IlKr['profit_margins_ratio'] > 0.25, 3, df_IlKr['total_prof_marg_ratio'])

In [ ]:
df_IlKr.loc[:, 'total_CATA_ratio':'total_prof_marg_ratio'] = df_IlKr.loc[:, 'total_CATA_ratio':'total_prof_marg_ratio'].apply(pd.to_numeric, errors='coerce')

In [ ]:
df_IlKr['sum_IlKr'] = df_IlKr.loc[:, 'total_CATA_ratio':'total_prof_marg_ratio'].sum(axis=1)

In [ ]:
df_IlKr['total_IlKr'] = np.where(df_IlKr['sum_IlKr'] <= 31, 'unstable', 'stable')

In [ ]:
df_IlKr

,ID,CATA_ratio,WCM_ratio,Cur_ratio,Quick_ratio,Cash_ratio,Equity_ratio,DtoE_ratio,ROE_ratio,ROIC_ratio,...,total_Quick_ratio,total_Cash_ratio,total_Equity_ratio,total_DtoE_ratio,total_ROE_ratio,total_ROIC_ratio,total_turn_ratio_inv_cap,total_prof_marg_ratio,sum_IlKr,total_IlKr
5,2301091076,0.999472,0.148363,9.813472,6.393782,1.455959,0.898153,0.000000,1.129260,1.129260,...,3,3,3,1,3,3,3,3,30,unstable
6,2308227978,1.000000,0.000000,0.200000,0.200000,0.000000,-4.000000,0.000000,2.785714,2.785714,...,1,1,1,1,3,3,1,1,17,unstable
9,2801217104,0.939225,0.008021,1.627250,1.077759,0.013052,0.422833,0.000000,1.132092,1.132092,...,3,1,1,1,3,3,3,2,22,unstable
10,2801217143,1.000000,0.065595,1.293985,0.902457,0.084879,0.227193,0.000000,0.698462,0.698462,...,3,1,1,1,3,3,3,1,21,unstable
11,2813010016,1.000000,0.034739,151.125000,5.250000,5.250000,0.993383,0.000000,0.167361,0.167361,...,3,3,3,1,2,3,3,1,26,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966242,1313902633,0.177418,0.067958,1.536609,0.217732,0.104425,0.880955,0.001242,-0.214869,-0.214833,...,1,1,3,1,1,1,1,1,13,unstable
966244,1326205534,1.000000,0.003087,1.740299,1.601194,0.005373,0.425386,0.000000,0.000000,0.000000,...,3,1,1,1,1,1,3,1,17,unstable
966247,1326205679,1.000000,0.015936,4.735849,1.617925,0.075472,0.788845,0.000000,-0.407828,-0.407828,...,3,1,3,1,1,1,1,1,19,unstable
966250,1324134609,0.321721,0.088854,3.201421,2.043362,0.059574,0.573158,0.757649,0.068940,0.044073,...,3,1,2,3,1,1,2,1,20,unstable
966252,5040126030,0.965561,0.000859,2.253452,1.442829,0.001935,0.186059,0.471346,0.889428,0.290476,...,3,1,1,1,3,3,3,1,22,unstable

In [ ]:
df_IlKr_total = df_IlKr[['ID', 'total_IlKr']]

Добавляем к данным результат расчета по четвертой модели

In [ ]:
df_report_fourth_methods = pd.merge(df_report_three_methods, df_IlKr_total, how = 'left', on = 'ID')

In [ ]:
df_report_fourth_methods.head(10)

,ID,report type,1110,1120,1130,1140,1150,1160,1170,1180,...,2460,2400,2510,2520,2500,result,total_ShSNK,total_postushkov,total_irkutsk,total_IlKr
0,2543105585,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,unstable,NaN,NaN,NaN,NaN
1,2502054275,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,unstable,NaN,NaN,NaN,NaN
2,2502054282,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,653.0,0.0,0.0,653.0,unstable,NaN,NaN,NaN,NaN
3,2502054250,2.0,0.0,0.0,0.0,0.0,629489.0,0.0,0.0,3814.0,...,0.0,9545.0,0.0,0.0,9545.0,unstable,NaN,NaN,NaN,NaN
4,2521014373,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,0.0,0.0,10.0,unstable,NaN,NaN,NaN,NaN
5,2301091076,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1922.0,0.0,0.0,0.0,not identified,stable,stable,stable,unstable
6,2308227978,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-468.0,0.0,0.0,-468.0,not identified,unstable,unstable,unstable,unstable
7,2811076678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,444.0,0.0,0.0,0.0,unstable,NaN,NaN,NaN,NaN
8,2801217136,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,135.0,0.0,0.0,135.0,unstable,NaN,NaN,NaN,NaN
9,2801217104,2.0,269.0,0.0,0.0,0.0,2965.0,0.0,0.0,0.0,...,0.0,25480.0,0.0,0.0,25480.0,not identified,stable,stable,stable,unstable

---
**Коэффициентный анализ**

In [ ]:
df_kfu = pd.DataFrame({
    'ID': df_report_not_identified['ID'],
    'kfu': (df_report_not_identified['1300'] + df_report_not_identified['1400']) / df_report_not_identified['1700'],
    'cok': df_report_not_identified['1200'] - df_report_not_identified['1500'],
    'clean_activ': df_report_not_identified['1600'] - (df_report_not_identified['1400'] + df_report_not_identified['1500']),
    'k_avt': df_report_not_identified['1300'] / df_report_not_identified['1600'],
    'k_obesp_cc': (df_report_not_identified['1300'] - df_report_not_identified['1100'])/ df_report_not_identified['1200'],
    'Cur_ratio': df_report_not_identified['1200'] / (df_report_not_identified['1510'] + df_report_not_identified['1520'] + df_report_not_identified['1550'])
})

In [ ]:
df_kfu['total_coefficient'] = np.where(df_kfu['kfu'] < 0.8, 'unstable', 'stable')
df_kfu['total_coefficient'] = np.where(df_kfu['cok'] <= 0, 'unstable', df_kfu['total_coefficient'])
df_kfu['total_coefficient'] = np.where(df_kfu['clean_activ'] <= 0, 'unstable', df_kfu['total_coefficient'])
df_kfu['total_coefficient'] = np.where(df_kfu['k_avt'] <= 0.5, 'unstable', df_kfu['total_coefficient'])
df_kfu['total_coefficient'] = np.where(df_kfu['k_obesp_cc'] < 0.1, 'unstable', df_kfu['total_coefficient'])
df_kfu['total_coefficient'] = np.where(df_kfu['Cur_ratio'] < 1.5, 'unstable', df_kfu['total_coefficient'])

In [ ]:
df_kfu['total_coefficient'].value_counts()

total_coefficient
unstable    433575
stable       96328
Name: count, dtype: int64

In [ ]:
df_kfu_total = df_kfu[['ID', 'total_coefficient']]

In [ ]:
df_report_fifth_methods = pd.merge(df_report_fourth_methods, df_kfu_total, how = 'left', on = 'ID')

In [ ]:
df_report_fifth_methods = df_report_fifth_methods.fillna(0)

In [ ]:
# Замена stable на 1 для подсчета итогов
df_report_fifth_methods['total_ShSNK'] = np.where(df_report_fifth_methods['total_ShSNK'] == 'stable', 1, 0)
df_report_fifth_methods['total_postushkov'] = np.where(df_report_fifth_methods['total_postushkov'] == 'stable', 1, 0)
df_report_fifth_methods['total_irkutsk'] = np.where(df_report_fifth_methods['total_irkutsk'] == 'stable', 1, 0)
df_report_fifth_methods['total_IlKr'] = np.where(df_report_fifth_methods['total_IlKr'] == 'stable', 1, 0)
df_report_fifth_methods['total_coefficient'] = np.where(df_report_fifth_methods['total_coefficient'] == 'stable', 1, 0)
df_report_fifth_methods

,ID,report type,1110,1120,1130,1140,1150,1160,1170,1180,...,2400,2510,2520,2500,result,total_ShSNK,total_postushkov,total_irkutsk,total_IlKr,total_coefficient
0,2543105585,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,unstable,0,0,0,0,0
1,2502054275,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,unstable,0,0,0,0,0
2,2502054282,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,653.0,0.0,0.0,653.0,unstable,0,0,0,0,0
3,2502054250,2.0,0.0,0.0,0.0,0.0,629489.0,0.0,0.0,3814.0,...,9545.0,0.0,0.0,9545.0,unstable,0,0,0,0,0
4,2521014373,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,10.0,unstable,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966248,1328909712,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,unstable,0,0,0,0,0
966249,1322122012,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35.0,0.0,0.0,35.0,unstable,0,0,0,0,0
966250,1324134609,2.0,2345.0,0.0,0.0,0.0,561854.0,0.0,0.0,77.0,...,34974.0,0.0,-1750.0,33224.0,not identified,0,0,1,0,0
966251,1327006130,2.0,0.0,0.0,0.0,0.0,12624.0,0.0,15564.0,0.0,...,1396.0,0.0,0.0,1396.0,unstable,0,0,0,0,0
966252,5040126030,2.0,0.0,0.0,0.0,0.0,14739.0,0.0,0.0,213.0,...,71848.0,0.0,0.0,71848.0,not identified,1,1,1,0,0

In [ ]:
df_report_fifth_methods.loc[:, 'total_ShSNK':'total_coefficient'] = df_report_fifth_methods.loc[:, 'total_ShSNK':'total_coefficient'].apply(pd.to_numeric, errors='coerce')

In [ ]:
df_report_fifth_methods['sum'] = df_report_fifth_methods.loc[:, 'total_ShSNK':'total_coefficient'].sum(axis=1)

In [ ]:
df_report_fifth_methods['sum'].value_counts()

sum
0    509885
3    211788
4     93708
2     90495
1     60233
5       144
Name: count, dtype: int64

In [ ]:
# Если большинство моделей (>=3) определяет организацию как финансово устойчивую, обозначим stable
df_report_fifth_methods['financial_stability'] = np.where(df_report_fifth_methods['sum'] >=  3, 'stable', 'unstable')
df_report_fifth_methods

,ID,report type,1110,1120,1130,1140,1150,1160,1170,1180,...,2520,2500,result,total_ShSNK,total_postushkov,total_irkutsk,total_IlKr,total_coefficient,sum,financial_stability
0,2543105585,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,unstable,0,0,0,0,0,0,unstable
1,2502054275,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,unstable,0,0,0,0,0,0,unstable
2,2502054282,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,653.0,unstable,0,0,0,0,0,0,unstable
3,2502054250,2.0,0.0,0.0,0.0,0.0,629489.0,0.0,0.0,3814.0,...,0.0,9545.0,unstable,0,0,0,0,0,0,unstable
4,2521014373,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,unstable,0,0,0,0,0,0,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966248,1328909712,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,unstable,0,0,0,0,0,0,unstable
966249,1322122012,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,35.0,unstable,0,0,0,0,0,0,unstable
966250,1324134609,2.0,2345.0,0.0,0.0,0.0,561854.0,0.0,0.0,77.0,...,-1750.0,33224.0,not identified,0,0,1,0,0,1,unstable
966251,1327006130,2.0,0.0,0.0,0.0,0.0,12624.0,0.0,15564.0,0.0,...,0.0,1396.0,unstable,0,0,0,0,0,0,unstable
966252,5040126030,2.0,0.0,0.0,0.0,0.0,14739.0,0.0,0.0,213.0,...,0.0,71848.0,not identified,1,1,1,0,0,3,stable

In [ ]:
# Удаление столбцов, созданных для рассчета
df_report_new = df_report_fifth_methods.drop('result', axis=1)
df_report_new = df_report_new.drop('report type', axis=1)
df_report_new = df_report_new.drop('total_ShSNK', axis=1)
df_report_new = df_report_new.drop('total_postushkov', axis=1)
df_report_new = df_report_new.drop('total_irkutsk', axis=1)
df_report_new = df_report_new.drop('total_IlKr', axis=1)
df_report_new = df_report_new.drop('total_coefficient', axis=1)
df_report_new = df_report_new.drop('sum', axis=1)

In [ ]:
df_report_new

,ID,1110,1120,1130,1140,1150,1160,1170,1180,1190,...,2410,2421,2430,2450,2460,2400,2510,2520,2500,financial_stability
0,2543105585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable
1,2502054275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable
2,2502054282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,131.0,0.0,0.0,0.0,0.0,653.0,0.0,0.0,653.0,unstable
3,2502054250,0.0,0.0,0.0,0.0,629489.0,0.0,0.0,3814.0,0.0,...,1764.0,472.0,-36.0,3.0,0.0,9545.0,0.0,0.0,9545.0,unstable
4,2521014373,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,10.0,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966248,1328909712,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unstable
966249,1322122012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,35.0,0.0,0.0,35.0,unstable
966250,1324134609,2345.0,0.0,0.0,0.0,561854.0,0.0,0.0,77.0,36078.0,...,10394.0,-287.0,1240.0,53.0,0.0,34974.0,0.0,-1750.0,33224.0,unstable
966251,1327006130,0.0,0.0,0.0,0.0,12624.0,0.0,15564.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1396.0,0.0,0.0,1396.0,unstable
966252,5040126030,0.0,0.0,0.0,0.0,14739.0,0.0,0.0,213.0,0.0,...,18447.0,172.0,-828.0,183.0,-172.0,71848.0,0.0,0.0,71848.0,stable

In [ ]:
df_report_new['financial_stability'].value_counts()

financial_stability
unstable    660613
stable      305640
Name: count, dtype: int64

In [ ]:
df_report_new.to_csv('reports_private_property_384.csv', header=True, index=False)